# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment folders (if used locally)
venv/
.venv/

# Ignore temporary upload files
uploads/

# Ignore exported collections (usually generated artifacts)
exported_collections/
